---
http_interactions:
- request:
    method: get
    uri: http://html5.validator.nu/?doc=https://doc75.github.io/w3c_validators_tests/valid_html5.html&out=json&parser=html&showsource=yes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {"url":"https://doc75.github.io/w3c_validators_tests/valid_html5.html","messages":[],"source":{"type":"text/html","encoding":"utf-8","code":"<!DOCTYPE html>\n<html lang=\"en-ca\">\n  <head>\n\t<meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\">\n    <title>HTML 5 Example</title>\n  </head>\n  <body>\n    <p>This is a sample HTML 5 document.</p>\n    <section>\n\t  <h1>Example of paragraphs</h1>\n\t  This is the <em>first</em> paragraph in this example.\n\t  <p>This is the second.</p>\n\t  <!-- This is not a paragraph. -->\n\t</section>\n  </body>\n</html>"}}
  recorded_at: Tue, 25 Oct 2016 19:30:51 GMT
recorded_with: VCR 3.0.3
